.container {
   height: 100vh;
   max-width: 800px;
   margin-top: 3rem;
}

/* Splits the sidebar and main content into two columns */
.grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

/* Splits the sidebar content into two columns */
.sidebar {
   display: grid;
   grid-template-columns: 65px 300px;
   margin: 10px 0;
}

/* Align the sidebar hamburger menu */
nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
   padding: 0.2rem 0 0;
}

nav ul {
   margin-bottom: 3rem;
}

nav > * {
   margin-right: 0.5rem;
}

/* Space out individual hamburger icons  */
nav ul li {
   margin: 1.3rem 0;
}

/* Add scroll to sidebar content */
.sidebar-icons {
   overflow-y: scroll;
   scroll-behavior: smooth;
   height: 90vh;
}