* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: url(images/wallpapers/windows.jpg) no-repeat center center/cover;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100vh;
   overflow-y: hidden;
   font-size: 0.9rem;
}

ul {
   list-style: none;
}

img {width: 100%;}

.container {
   height: 100vh;
   max-width: 800px;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.sidebar {
   display: grid;
   grid-template-columns: 65px 400px;
   margin: 10px 0;
}

nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
   padding: 0.2rem 0 0;
}

nav > * {
   margin-right: 0.5rem;
}

nav ul li {
   margin: 1.3rem 0;
}

.sidebar-icons {
   display: grid;
   grid-template-rows: 100px;
   overflow-y: scroll;
   scroll-behavior: smooth;
   -webkit-scrollbar: 10px;
   height: 100vh;
}



.sidebar-icons::-webkit-scrollbar {
   width: 10px;
}

.sidebar-icons {
   scrollbar-width: thin;
   scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
}

.sidebar-icons::-webkit-scrollbar-track {
   background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-icons::-webkit-scrollbar-thumb {
   background-color:rgba(255, 255, 255, 0.20);
   box-shadow: 0 8px 32px 0 rgba(113, 114, 129, 0.1);
}




.width-small {
   width: 21.9px;
}

.width-medium {
   width: 40px;
}

.width-large {
   width: 60px;
}

/* Transparency */
.bg-primary {
   background: rgba(38, 38, 37, 0.9);
   box-shadow: 0 8px 32px 0 rgba(113, 114, 129, 0.37);
   backdrop-filter: blur(0.0px);
   -webkit-backdrop-filter: blur(0.0px);
}

.sidebar-icons ul li:hover {
   background: rgba( 86, 85, 85, 0.00 );
   box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0);
   backdrop-filter: blur( 0.0px );
   -webkit-backdrop-filter: blur( 0.0px );
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg-secondary {
   background: rgba( 61, 61, 57, 0.55);
   box-shadow: 0 8px 32px 0 rgba(113, 114, 129, 0.37);
   backdrop-filter: blur(0.0px);
   -webkit-backdrop-filter: blur(0.0px);
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.20);
}